@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');
* {
  font-family: 'Barlow Semi Condensed', sans-serif;
}
.app-bg {
  background-image: radial-gradient(
    circle,
    hsl(214, 47%, 23%),
    hsl(237, 49%, 15%)
  );
  background-size: 100% 200%;
  background-repeat: no-repeat;
  background-position: bottom;
}
.word-spacing-all {
  word-spacing: 9999px;
}
.animation-winner {
  animation: winner 1.2s infinite;
}
.animation-delay-1 {
  animation-delay: 0.4s;
}
.animation-delay-2 {
  animation-delay: 0.8s;
}
@keyframes winner {
  0% {
    transform: scale(0.5);
    opacity: 0.5;
    animationtimingfunction: cubic-bezier(0.8, 0, 1, 1);
  }
  100% {
    transform: scale(2);
    opacity: 0;
    animationtimingfunction: cubic-bezier(0, 0, 0.2, 1);
  }
}
